.bundle
db/*.sqlite3
log/*.log
tmp/
hpricot/
public/rcov

#do not commit eclipse stuff
.metadata/
.idea/

#do not commit code coverage stuff
coverage/
coverage.data

#do not commit netbeans stuff
nbproject/

*.csv
