.bundle
db/*.sqlite3
log/*.log
tmp/
hpricot/
public/rcov

#do not commit eclipse stuff
.metadata/
.idea/

#Nozip
*_profile.zip
*.csv
#do not commit code coverage stuff
coverage/
coverage.data

/Files/*
#do not commit netbeans stuff
nbproject/

*.csv
/test/public/profile/*.zip
