%h2 Upload CSV
%br
- if flash[:error]
  %error
    =flash[:error]
%fieldset
  %legend File Upload
  =form_for :upload, :url => {:action=>:upload}, :html=>{:multipart=>true} do |f|
    =f.file_field :file
    %br
    %br
    =f.submit 'Upload'
