-if flash[:error]
  %error
    =flash[:error]
  %br
  %br
%h2 Import CSV
%br

%fieldset
  %legend Upload File
  =form_for :upload, :url => {:action=>:upload}, :html=>{:multipart=>true} do |f|
    =f.file_field :file
    %br
    %br
    =f.submit 'Upload'
