%p#notice= notice

%p
  %b Message:
  = @log_message.message

%p
  %b Profile:
  = link_to @log_message.profile.emailaccount.email, emailaccount_path(@log_message.profile)


= link_to 'Back', log_messages_path
