/*********************** 
basic page style
************************/
body {
	background: #000;
	font-family: Helvetica, Veranda, Arial, sans-serif;
	color: #fff;
}
/*********************** 
headings
************************/
h1 {
	color: #fff;
	font-size: 1.8em;
}
h2 {
	color: #fff;
	margin: 0;
	font-size: 1.3em;
}
h3 {
	color: #ff8400;
	font-size: 12pt;
}
/*********************** 
links
************************/
a {
	color: #ff8400;
	text-decoration: none;
	font-weight: bold;
}
a:hover {
	color: #c71c1c;
}
/*********************** 
lines
************************/
hr {
	color: #000;	
}
/*---------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------*/
/*********************** 
global
************************/
div.global {
	min-width: 900px;
	max-width: 1024px;
	border: #666 1px solid;
	margin: 0 auto;
}
/*********************** 
header
************************/
div.header {
	margin: 20px;
}
/*********************** 
navigation
************************/
div.navigation {
	padding: 10px;
	color: #fff;
	background: #555;
	border-top: #666 1px solid;
	border-bottom: #666 1px solid;
}

div.navigation div.login {
	padding-right: 10px;
	color: #fff;
	background: #555;
	float:right;
}

/*********************** 
main
************************/
div.main {
	color: #fff;
	min-height: 680px;
}
/*********************** 
content
************************/	
div.contentOne {
	width:72%;
	padding: 20px;
	min-height: 640px;
	border-right: 1px #666 solid;
	float:left;
}

table.users tr td, table.users tr th{
	border:1px #fff solid;
}

div.contentTwo {
	width:20%;
	padding: 20px;
	min-height: 640px;
	float:right;
}
/*********************** 
footer
************************/
div.footer {
	text-align: right;
	font-size: 0.7em;
	border-top: #666 1px solid;
	color: #fff;
	padding: 5px;
	background:#222;
}
